* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f5;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #100f10;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header h1 {
  color: #f7f7fe;
  margin: 0 auto;
  font-size: 40px;
}
nav {
  color: #f7f7fe;
  position: absolute;
  top: 10px;
}
nav li,
a {
  display: inline;
  color: #f7f7fe;
  text-decoration: none;
  margin: 5px;
}
nav a:hover {
  border-bottom: 2px solid #f7f7fe;
}
.main {
  width: 100%;
  display: inline;
  justify-content: center;
  align-items: center;
}
.main img {
  border: 4px solid #100f10;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 10px 5px 5px 5px;
}
.center {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 458px;
}
.poet {
  text-align: center;
}
.poet h2 {
  font-size: 39px;
  font-weight: 800;
}
.poet p {
  color: #181618;
  font-size: 20px;
  font-weight: 300;
}
.poet button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  color: #100f10;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  margin: 20px 5px 0px 10px;
}
.poet button:hover {
  color: white;
  background-color: #100f10;
}
